html, body {
    min-height: 100%;
    margin-right:auto;
    margin-left:auto;
}
body {
    font-family: 'Lato', Arial, sans-serif;
    color: #666666;
}
p, h3 {
    padding:0 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}
#container{
    width:1024px;
    margin: 0 auto;	
}
header {
	width:100%;
    margin:0;
    margin-bottom: 10px;
    padding:0;
    height: 90px;
    border-bottom: 2px solid #134aaa;
}
header figure {
	padding: 0;
    margin: 0;
    width: 50%;
    display: block;
}     
section.section-style-horizontal {
    width:50%;
    float: right;
    margin-top: -75px;
}
section.section-style-horizontal ul {
    float: right;
}
section.section-style-horizontal ul li {
    display: inline-block;
}
#right-area {
	width:15%;
	float:right;
	padding-bottom:10px;
    background-color: #fcfcfc;
	}
#main-area {
	width:70%;
	float:left;
}
#main-area p {
    margin-bottom: 20px;
}
#left-area {
	width:15%;
	padding-bottom:10px;
    background-color: #fcfcfc;
    float: left;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: none;
}
nav li {
    list-style-type: none;
	border-bottom: 1px solid #646464;
	margin: 0;
    padding: 3px 0;
}
nav h4 {
    padding-left:10px;
    color: #134aaa;
}
nav li p {
    padding: 5px 5px 5px 0.5em; 
    color: #000;   
}
nav li a {
	padding: 5px 5px 5px 0.5em;
	color: #000;
	text-decoration: none;
}
nav li a:hover {
    background-color: #134aaa;
	color: #fff;
    border: none;		
}	
nav li:active a {
	background:	#66ccff;
	color: #996600;
}
	
aside ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: none;
}
aside li {
    list-style-type: none;
	border-bottom: 1px solid #646464;
	margin: 0;
    padding: 3px 0;
}
aside h4 {
    padding-left:10px;
    color: #134aaa;
}
aside li p {
    padding: 5px 5px 5px 0.5em; 
    color: #000;   
}
aside li a {
	padding: 5px 5px 5px 0.5em;
	color: #000;
	text-decoration: none;
}
aside li a:hover {
	background-color: #134aaa;
	color: #fff;		
}	
aside li:active a {
	background:	#66ccff;
	color: #996600;
}


/* FOOTER */
    
footer {
	clear: both;
	width:100%;
	float:left;
	border-top: 2px solid #134aaa;
	text-align:center;	
    color: #134AAA;
}
footer ul {
    margin-bottom: 20px;
}
footer ul li {
    display: inline-block;
    border-bottom: none;
}
footer ul li a {
    text-decoration: none;
}